/* configuração para dark do site */
:root{
    --dark-bg: #00001a;
    --dark-box: #002e46;
    --dark-font: #c3ecff;
    --dark-table: #ced3de;
}

.img_preview_banner {
    width: 150px;
}
.img_preview_logo {
    width: 120px;
}
/* textarea{
    color: var(--dark-font);
} */

.dark_color{
    background-color: var(--dark-box);
    border:  0 !important;
}
.dark_color table,
.dark_color th,
.dark_color td {
    border: 1px solid var(--dark-font);
    border-collapse: collapse;
    /* padding:  0; */
}

.light_mode th, .light_mode td, .light_mode table{
    /* padding: 10px 0; */
    border: 1px solid var(--dark-table);

}

.dark_color th,
.dark_color td {
    background-color: var(--dark-box);
    /* padding: 5px; */
 
  }
.dark_color td{
    padding:  5px;
    font-size: .95rem;
    
}
.select_msn td{
    background-color: #a7220a;
    
}

.dark_color_body{
    background-color: var(--dark-bg); 
    color: var(--dark-font)
}
.caption_adm {
    /* padding-top: 0.5rem;
    padding-bottom: 0.5rem; */
    color: #6c757d;
    text-align: left;
    font-size: 0.72em;
}

.login__princ {
    width: 25%;
}

/* .select_msn td{
    background-color: #fff;
} */

@media screen and (max-width:990px) {

    .img_preview_banner {
        width: 150px;
    }

    .login__princ {
        width: 100%;
    }

}
@media screen and (min-width:991px) and (max-width:1377px){

   
    .login__princ {
        width: 40%;
    }

}